<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Home Page</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor consequuntur laborum modi nam ullam sequi nostrum aspernatur ipsum ipsam quam dolores impedit placeat, beatae sit adipisci incidunt sint id quasi officiis labore neque voluptatibus, atque pariatur. Vel, rerum adipisci dignissimos obcaecati sint et id temporibus totam ducimus. Architecto, quibusdam illo.</p>
</body>
</html>